.sidebar {
    display: flex;
    height: 100dvh;
    width: 100%;
}

.sidebar-container {
    background-color: rgb(39, 0, 93);
    width: 15%;
    min-width: fit-content;
    border-right: 3px solid rgb(174, 210, 255);
}

.sidebar-items {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar-items > a {
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(174, 210, 255);
    font-size: x-large;
    font-weight: 700;
    padding: 10px 20px;
    transition: 0.1s ease;
}

.sidebar-items > a:hover {
    background-color: rgb(22, 0, 53);
    border-left: 3px solid rgb(228, 241, 255);
}

.sidebar-items > a > svg {
    padding-right: 10px;
}

.container {
    width: 100%;
    min-width: fit-content;
    background-color: rgb(148, 0, 255);
}

.logout-button {
    position: fixed;
    bottom: 5%;
    left: 1%;
}

.logout-button > button {
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 10rem;
    font-size: large;
    font-weight: 700;
    border-radius: 1rem;
    background-color: rgb(39, 0, 93);
    color: rgb(174, 210, 255);
    border: 3px solid rgb(174, 210, 255);
    transition: 0.5s ease;
}

.logout-button > button:hover {
    cursor: pointer;
    background-color: rgb(174, 210, 255);
    color: rgb(39, 0, 93);
}

.profile {
    padding: 1rem;
    margin: 1rem;
    border: 3px solid rgb(174, 210, 255);
    border-radius: 1rem;
}

.profile > h1, h2, h3{
    color: rgb(228, 241, 255);
}

.profile > h1 {
    border-bottom: 2px solid rgb(174, 210, 255);
}