.sidebar {
    display: flex;
    height: 100dvh;
    width: 100%;
}

.sidebar-container {
    background-color: rgb(39, 0, 93);
    width: 15%;
    min-width: fit-content;
}

.sidebar-items {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar-items > a {
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(174, 210, 255);
    font-size: x-large;
    font-weight: 700;
    padding: 10px 20px;
}

.sidebar-items > a > svg {
    padding-right: 10px;
}

.container {
    width: 100%;
    min-width: fit-content;
    background-color: rgb(148, 0, 255);
}