.home {
    display: flex;
    overflow: hidden;
}

.home > h1 {
    width: 100%;
    text-align: center;
    font-size: 100px;
    margin-top: 4rem;
    font-family: cursive ;
    color: rgb(39, 0, 93);
}

.bg-image {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
}

.bg-image-blur {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(8px);
}

.login-form {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 30%;
    left: 40%;
    height: 350px;
    width: 25%;
    background-color: rgba(228, 241, 255, 0.5);
    border: 4px solid rgb(39, 0, 93);
    border-radius: 1rem;
    transition: 0.5s ease;
}

.login-form:hover {
    background-color: rgba(39, 0, 93, 0.8);
    border: 4px solid rgb(174, 210, 255);
}

.login-form > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0% 1rem;
}

.login-form > form > p {
    margin-top: 1rem;
    color: crimson;
    font-weight: 700;
    font-size: large;
}

.login-form > form > h3 {
    margin-bottom: 1rem;
    color: rgb(39, 0, 93);
    font-size: xx-large;
    transition: 0.5s ease;
}

.login-form:hover > form > h3 {
    color: rgb(174, 210, 255);
}

.login-form:hover > form > .input-area {
    background-color: rgba(39, 0, 93, 0.6);
    border: 2px solid rgb(174, 210, 255);
    color: rgb(174, 210, 255);
}

.input-area {
    height: 2rem;
    background-color: rgba(174, 210, 255, 0.6);
    border: 2px solid rgb(39, 0, 93);
    margin-bottom: 1rem;
    padding: .1rem 1rem;
    outline: none;
    transition: .5s ease;
    font-weight: 500;
}

.input-area:focus {
    background-color: rgb(174, 210, 255, 0.6);
    border: 2px solid rgb(39, 0, 93);
    color: rgb(39, 0, 93);
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button-container > button {
    border-style: none;
    height: 100%;
    background-color: rgb(174, 210, 255);
    padding: 5px 10px;
    font-size: large;
    font-weight: 700;
    border: 2px solid rgb(39, 0, 93);
    transition: .5s ease;
    width: 100%;
    margin: auto;
}

.button-container > button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.66);
    color: aliceblue;
    border: 1px solid aliceblue;
}