body {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(39, 0, 93, 0.1);
}

table {
    margin: 1rem 0.5rem;
}

.error-show{
    color: crimson;
}