.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.product-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(228, 241, 255);
    height: fit-content;
    width: 95%;
    border-radius: 1rem;
    border: 10px solid rgb(39, 0, 93);
}

.prod-list-info {
    margin: 0.2rem 0rem;
}

.prod-list-info > h3 {
    color: rgb(39, 0, 93);
}

.product-list > h1 {
    color: rgb(39, 0, 93);
    margin: 1rem 3rem;
    border-bottom: 2px solid rgb(39, 0, 93);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 241, 255);
    height: 3rem;
}

.product-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(228, 241, 255);
    height: 90%;
    width: 45%;
    border-radius: 1rem;
    border: 5px solid rgb(39, 0, 93);
}

.product-history {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(228, 241, 255);
    margin-left: 1rem;
    height: 90%;
    width: 45%;
    border-radius: 1rem;
    border: 5px solid rgb(39, 0, 93);
    overflow-y: auto;
}

.product-info > h1 {
    color: rgb(39, 0, 93);
    text-align: left;
    border-bottom: 2px solid rgb(39, 0, 93);
    margin: 1rem;
}

.product-history > h1 {
    color: rgb(39, 0, 93);
    text-align: left;
    border-bottom: 2px solid rgb(39, 0, 93);
    margin: 1rem;
}

.description-style {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    justify-content: left;
    align-items: start;
    color: rgb(39, 0, 93);
}

.description-style > h3, .history-style > h3 {
    color: rgb(39, 0, 93);
}

.history-style {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    margin-left: 1rem;
    width: 80%;
    color: rgb(39, 0, 93);
    border-bottom: 2px dashed rgb(39, 0, 93);
    margin-bottom: 1rem;
}

.selection-list-prodlist > button, .staff-select {
    border-style: none;
    cursor: pointer;
    background-color: rgb(174, 210, 255);
    height: 2rem;
    padding: 0rem 1rem;
    color: rgb(39, 0, 93);
    font-size: small;
    font-weight: 500;
    border: 2px solid rgb(39, 0, 93);
    border-radius: 1rem;
    transition: 0.1s ease;
}

.selection-list-prodlist > button:hover, .staff-select:hover {
    background-color: rgb(39, 0, 93);
    color: rgb(174, 210, 255);
    border: 2px solid rgb(174, 210, 255);
}